<li class="separator acl-write"></li>

<li id="ml-api" class="acl-write">
    <select class="api-selection">
        <option value="dummy" selected> ML API's</option>
        <option value="2" > sentence analysis</option>
        <option value="3" > generate headline</option>
        <option value="4" > paraphrase</option>
        <option value="5"> spellcheck</option>
    </select>
</li>

<li class="separator acl-write"></li>

<li id="persona" class="acl-write">
    <select class="persona-selection">
        <option value="dummy" selected> change persona</option>
        <option value="1" > Innocent</option>
        <option value="2" > Everyman</option>
        <option value="3" > Hero</option>
        <option value="4" > Outlaw</option>
        <option value="5"> Explorer</option>
        <option value="6" > Creator</option>
        <option value="7" > Ruler</option>
        <option value="8" > Magician</option>
        <option value="9" > Lover</option>
        <option value="10"> Caregiver</option>
        <option value="11" > Jester</option>
        <option value="12"> Sage</option>
        
    </select>
</li>

<li class="separator acl-write"></li>
<li id="preview" class="acl-write nice-selects"> preview </li>

<style>
    .nice-selects{
        -webkit-tap-highlight-color: transparent;
        background-color: #f2f3f4;
        border-radius: 3px;
        /* border: 1px solid #ccc; */
        box-sizing: border-box;
        clear: both;
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        font-weight: bold;
        height: 28px;
        line-height: 28px;
        outline: none;
        padding-left: 8px;
        padding-right: 24px;
        position: relative;
        text-align: left !important;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        min-width: 100px;
        text-transform: capitalize
    }
</style>